<section id="basic-dropdown">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a asp-action="Create" class="btn btn-success" type="button">Thêm mới</a>
                    <a asp-action="Import" class="btn btn-primary" type="button">Nhập</a>
                    <a asp-action="Export" class="btn btn-info" type="button">Xuất</a>
                    <a asp-action="Print" class="btn btn-secondary" type="button">In</a>
                    <a asp-action="GetTrash" class="btn btn-danger" type="button">Thùng rác</a>
                </div>
            </div>
        </div>
    </div>
</section>