<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="index.html"><img src="~/logo/logo-hufi-new-v6.png" alt="Logo" srcset="" style="width: 216px; height:83px;"></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item active ">
                    <a asp-action="Index" asp-controller="StudentDashboard" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a asp-action="GetProfile" asp-controller="StudentAccount" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Thông tin cá nhân</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a asp-action="Index" asp-controller="StudentThesis" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Đăng ký khóa luận</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a asp-action="Index" asp-controller="StudentThesis" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Khóa luận của bạn</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a asp-action="GetThesisGroups" asp-controller="StudentThesis">Danh sách nhóm</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="StudentThesis">Cập nhật tiến độ</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Trash" asp-controller="TrainingLevel">Nộp đề tài</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Trash" asp-controller="TrainingLevel">Xem kết quả</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>