@model SupervisorPointInput

@await Component.InvokeAsync("FacultyStaffLayout_StatusArea")

<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewData["PageName"]:</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="EditThesisPoint" class="form form-horizontal" method="post">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="ThesisId"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="ThesisId" class="form-control" readonly />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="LecturerId"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="LecturerId" class="form-control" readonly />
                                    </div>
                                  
                                    <div class="col-md-4">
                                        <label asp-for="Contents"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="Contents" class="form-control" placeholder="Đánh giá về nội dung"></textarea>
                                        <span asp-validation-for="Contents" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Attitudes"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="Attitudes" class="form-control" placeholder="Đánh giá về thái độ"></textarea>
                                        <span asp-validation-for="Attitudes" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Results"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="Results" class="form-control" placeholder="Đánh giá về kết quả"></textarea>
                                        <span asp-validation-for="Results" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Conclusions"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="Conclusions" class="form-control" placeholder="Kết luận"></textarea>
                                        <span asp-validation-for="Conclusions" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Point"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="Point" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Notes"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="Notes" class="form-control" placeholder="Ghi chú"></textarea>
                                        <span asp-validation-for="Notes" class="text-danger"></span>
                                    </div>
                                   
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <a asp-action="Index" class="btn btn-light-secondary me-1 mb-1">Quay về danh sách</a>
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Chỉnh sửa</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}