@section Styles{
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
}

@await Component.InvokeAsync("FacultyStaffLayout_StatusArea")

<section class="section">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">@ViewData["PageName"]</h5>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">
                            Hỗ trợ nhập tập tin với định dạng XLS và XLSX
                            <code>.xls, .xlsx</code>
                        </p>
                        <form asp-action="Import" method="post" enctype="multipart/form-data">
                            <!-- Basic file uploader -->
                            <div class="filepond--root basic-filepond filepond--hopper" data-style-button-remove-item-position="left" data-style-button-process-item-position="right" data-style-load-indicator-position="right" data-style-progress-indicator-position="right" data-style-button-remove-item-align="false" style="height: 76px;">
                                <input class="filepond--browser" type="file" id="filepond--browser-tib00hchv" name="formFile" aria-controls="filepond--assistant-tib00hchv" aria-labelledby="filepond--drop-label-tib00hchv" accept=""><a class="filepond--credits" aria-hidden="true" href="https://pqina.nl/" target="_blank" rel="noopener noreferrer" style="transform: translateY(68px);">Powered by PQINA</a>
                                <div class="filepond--drop-label" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                                    <label for="filepond--browser-tib00hchv" id="filepond--drop-label-tib00hchv" aria-hidden="true">Drag &amp; Drop your files or <span class="filepond--label-action" tabindex="0">Browse</span></label>
                                </div>
                                <div class="filepond--list-scroller" style="transform: translate3d(0px, 0px, 0px);">
                                    <ul class="filepond--list" role="list"></ul>
                                </div>
                                <div class="filepond--panel filepond--panel-root" data-scalable="true">
                                    <div class="filepond--panel-top filepond--panel-root"></div>
                                    <div class="filepond--panel-center filepond--panel-root" style="transform: translate3d(0px, 8px, 0px) scale3d(1, 0.6, 1);"></div>
                                    <div class="filepond--panel-bottom filepond--panel-root" style="transform: translate3d(0px, 68px, 0px);"></div>
                                </div>
                                <span class="filepond--assistant" id="filepond--assistant-tib00hchv" role="status" aria-live="polite" aria-relevant="additions"></span>
                                <div class="filepond--drip">
                                </div>
                                <fieldset class="filepond--data"></fieldset>
                            </div>
                            <div class="d-flex justify-content-end mt-4">
                                 <button type="submit" class="btn btn-primary me-1 mb-1">Thực hiện</button>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
