<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="index.html"><img src="~/logo/logo-hufi-new-v6.png" alt="Logo" srcset="" style="width: 216px; height:83px;"></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item active ">
                    <a href="index.html" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Các danh mục</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="TopicManager">Chủ đề khóa luận</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="TrainingLevelManager">Bậc đào tạo</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="TrainingFormManager">Hình thức đào tạo</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="FacultyManager">Khoa</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="SpecializationManager">Chuyên ngành</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="StudentClassManager">Lớp</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Nhân viên khoa</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="FacultyStaffManager">Danh sách</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Import" asp-controller="FacultyStaffManager">Nhập</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Export" asp-controller="FacultyStaffManager">Xuất</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Trash" asp-controller="FacultyStaffManager">Thùng rác</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Sinh viên</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="StudentManager">Danh sách</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="StudentManager">Chưa đăng ký đề tài</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="StudentManager">Đã đăng ký đề tài</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Import" asp-controller="StudentManager">Nhập</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Export" asp-controller="StudentManager">Xuất</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Trash" asp-controller="StudentManager">Thùng rác</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Hội đồng chấm luận văn</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="CouncilManager">Danh sách</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Import" asp-controller="CouncilManager">Nhập</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Export" asp-controller="CouncilManager">Xuất</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="Trash" asp-controller="CouncilManager">Thùng rác</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Đề tài khóa luận</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="ThesisManager">Danh sách</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="GetApprovedList" asp-controller="ThesisManager">Đề tài đã được duyệt</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="GetRejectedList" asp-controller="ThesisManager">Đề tài bị từ chối duyệt</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="" asp-controller="">Nhập</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="" asp-controller="">Xuất</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="" asp-controller="">Thùng rác</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Nhóm sinh viên thực hiện đề tài</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a asp-action="Index" asp-controller="ThesisGroupManager">Danh sách</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="" asp-controller="">Nhập</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="" asp-controller="">Xuất</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-action="" asp-controller="">Thùng rác</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>