@{
    Dictionary<string, string> selectAction = new Dictionary<string, string> {
        { "GetThesesOfLecturer", "Tất cả" }, { "GetPndgThesesOfLecturer", "Đang chờ duyệt" }, { "GetRejdThesesOfLecturer", "Bị từ chối duyệt" },
        { "GetAppdThesesOfLecturer", "Đã được duyệt" }, { "GetThesesToSupv", "Đã phân công HD" }, { "GetThesesToCriticize", "Được phân công PB" },
    };
}

Xem theo:
<select class="form-control" style="width: 160px; display: inline-block;" onchange="location = this.value;">
    @foreach (KeyValuePair<string, string> actionPair in selectAction)
    {
        if(ViewData["Action"]!.ToString() == actionPair.Key){
            <option value="@Url.Action(actionPair.Key)" selected>@actionPair.Value</option>
        }else{
            <option value="@Url.Action(actionPair.Key)">@actionPair.Value</option>
        }
    }
</select>