@{
    string cssClass = null;
}

@if (ViewData["Status"] != null)
{
    if (ViewData["Status"].ToString() == "Success")
    {
        cssClass = "bg-success";
    }
    else
    {
        cssClass = "bg-danger";
    }

    <div class="row">
        <div class="col">
            <div class="card @cssClass text-white mb-4">
                <div class="card-body">
                    <a class="small text-white stretched-link" href="#">@ViewData["Status"]</a>
                    <div class="small text-white">
                        @ViewData["Message"]
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (TempData["Status"] != null)
{
    if (TempData["Status"].ToString() == "Success")
    {
        cssClass = "bg-success";
    }
    else
    {
        cssClass = "bg-danger";
    }

    <div class="row">
        <div class="col">
            <div class="card @cssClass text-white mb-4">
                <div class="card-body">
                    <a class="small text-white stretched-link" href="#">@TempData["Status"]</a>
                    <div class="small text-white">
                        @TempData["Message"]
                    </div>
                </div>
            </div>
        </div>
    </div>
}


