@model FacultyStaffOutput

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="#" target="__blank">Thông tin cá nhân</a>
        <a class="nav-link" href="#" target="__blank">Bảo mật</a>
        <a class="nav-link" href="#" target="__blank">Thông báo</a>
    </nav>
    <hr class="mt-0 mb-4">
    <form asp-action="UpdateProfile" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Ảnh đại diện</div>
                    <div class="card-body text-center">
                        <input type="file" name="formFile" style="display: none" />
                        <img class="img-account-profile rounded-circle mb-2" src="~/images/@Model.Avatar" alt="">
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <button class="btn btn-primary" type="button">Cập nhật ảnh mới</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Thông tin cá nhân</div>
                    <div class="card-body">

                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Id"></label>
                            <input class="form-control" asp-for="Id" readonly />
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-4">
                                <label class="small mb-1" asp-for="FullName"></label>
                                <input class="form-control" asp-for="FullName" readonly />
                            </div>
                            <div class="col-md-4">
                                <label class="small mb-1" asp-for="Faculty.Name"></label>
                                <input class="form-control" asp-for="Faculty.Name" readonly />
                            </div>
                            <div class="col-md-4">
                                <label class="small mb-1" asp-for="FacultyStaffRole.Name"></label>
                                <input class="form-control" asp-for="FacultyStaffRole.Name" readonly />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Position"></label>
                            <input class="form-control" asp-for="Position" />
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Degree"></label>
                            <input class="form-control" asp-for="Degree" />
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Address"></label>
                            <input class="form-control" asp-for="Address" />
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Email"></label>
                            <input class="form-control" asp-for="Email" />
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Phone"></label>
                            <input class="form-control" asp-for="Phone" />
                        </div>

                        <button class="btn btn-primary" type="submit">Cập nhật</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<link href="~/css/profiles.css" rel="stylesheet" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function previewAvatar() {
            let preview = document.querySelector('#avatar');
            let file = document.querySelector('#formFile').files[0];
            let reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }

        function openFileDialog() {
            document.querySelector('#formFile').click();
        }
    </script>


}