<header class="header" style="">
    <div class="container">
        <div class="logo-login-main text-center">
            <a href="/"><img src="~/images/sv_header_login.png" /></a>
        </div>
    </div>
    <div style="clear:both;"></div>
</header>