<div class="notifi notifi-tab h-100">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tabs_common-noftif" role="tab" aria-controls="" aria-selected="true">
                <div class="head-notifi head-notifi-21">Thông báo chung</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs_f851b" role="tab" aria-controls="" aria-selected="false">
                <div class="head-notifi head-notifi-21">Đồ án khóa luận nổi bật</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs_64c87" role="tab" aria-controls="" aria-selected="false">
                <div class="head-notifi head-notifi-21">Thống kê</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs_bd89c" role="tab" aria-controls="" aria-selected="false">
                <div class="head-notifi head-notifi-21">Kế hoạch triển khai khóa luận</div>
            </a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade" id="tabs_common-noftif" role="tabpanel" aria-labelledby="home-tab">
            <div class="content-notifi">
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">23</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/test-082347.html" class="title-notifi  title-notifi-21">Thông báo danh sách (dự kiến) nhận trợ cấp cho sinh viên thuộc hộ nghèo, hoàn cảnh khó khăn năm học 2022-2023; giảm học phí cho anh (chị) em sinh đôi và anh (chị) em ruột học chung Trường học kì I năm học 2022-2023</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/test-082347.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">23</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/test-081734.html" class="title-notifi  title-notifi-21">Thông báo danh sách (dự kiến) nhận học bổng sinh viên vượt khó HK II năm học 2021-2022 và học bổng sinh viên vượt khó HK I năm học 2021-2022 đợt bổ sung</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/test-081734.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">23</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/test-075502.html" class="title-notifi  title-notifi-21">Thông báo về danh sách sinh viên chưa mua được BHYT năm 2023 do thiếu thông tin</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/test-075502.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">20</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-to-chuc-thi-cap-giay-chung-nhan-tieng-anh-theo-khung-nang-luc-ngoai-ngu-6-bac-dung-cho-viet-nam-080746.html" class="title-notifi news_hot title-notifi-21">Thông báo về việc tổ chức thi, cấp giấy chứng nhận tiếng Anh theo Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam </a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-to-chuc-thi-cap-giay-chung-nhan-tieng-anh-theo-khung-nang-luc-ngoai-ngu-6-bac-dung-cho-viet-nam-080746.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">14</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-thu-hoc-phi-bo-sung-cac-hoc-phan-cua-hoc-ky-i-nam-hoc-2022-2023.html" class="title-notifi news_hot title-notifi-21">Thông báo về việc thu học phí bổ sung các học phần của học kỳ I năm học 2022-2023</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-thu-hoc-phi-bo-sung-cac-hoc-phan-cua-hoc-ky-i-nam-hoc-2022-2023.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">14</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/tbbbbb.html" class="title-notifi  title-notifi-21">Thông báo về việc thu học phí bổ sung các học phần của học kỳ 1 năm học 2022-2023</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/tbbbbb.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">12</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/tb1.html" class="title-notifi  title-notifi-21">Khảo sát nhu cầu mở lớp sinh hoạt lại đối với tuần sinh hoạt công dân sinh viên - Đợt 1 năm học 2022-2023</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/tb1.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">12</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-trien-khai-danh-gia-cuoi-ky-hoc-ky-1-nam-hoc-2022-2023-dot-2.html" class="title-notifi  title-notifi-21">Thông báo về việc triển khai đánh giá cuối kỳ học kỳ 1 năm học 2022 - 2023 (đợt 2)</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-trien-khai-danh-gia-cuoi-ky-hoc-ky-1-nam-hoc-2022-2023-dot-2.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">12</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-theo-chuan-dau-ra-tin-hoc-hufi-khai-giang-du-kien-27-12-2.html" class="title-notifi news_hot title-notifi-21">Thông báo chiêu sinh các lớp ôn thi TRỰC TUYẾN "Chứng chỉ ứng dụng công nghệ thông tin cơ bản" theo chuẩn đầu ra tin học HUFI khai giảng dự kiến 27/12/2022</a>
                        <p class="desc">Cập nhật kiến thức và các kỹ năng ứng dụng CNTT (Word – Excel – Powerpoint – Internet Căn Bản). Ôn tập kiến thức nhanh, đúng trọng tâm để tự tin hoàn thành tốt bài thi lấy chứng chỉ Ứng dụng CNTT cơ bản. </p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-theo-chuan-dau-ra-tin-hoc-hufi-khai-giang-du-kien-27-12-2.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">10</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-thoi-khoa-bieu-du-kien-va-danh-sach-cac-nhom-lop-hoc-phan-du-kien-mo-cua-he-dai-hoc-trong-hoc-ky-2-nam-hoc-2022-2023.html" class="title-notifi  title-notifi-21">Thông báo về thời khóa biểu dự kiến và danh sách các nhóm lớp học phần (dự kiến mở) của hệ đại học trong học kỳ 2 năm học 2022 – 2023</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-thoi-khoa-bieu-du-kien-va-danh-sach-cac-nhom-lop-hoc-phan-du-kien-mo-cua-he-dai-hoc-trong-hoc-ky-2-nam-hoc-2022-2023.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <a style="float: right; color: red; font-weight: bold; padding: 5px 30px !important; font-size: 18px;" href="/sinh-vien/dm-tin-tuc/thong-tin-chung-095310.html">XEM THÊM</a>
        </div>
        <div class="tab-pane fade" id="tabs_f851b" role="tabpanel" aria-labelledby="home-tab">
            <div class="content-notifi">
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 05</p>
                            <p class="days m-0">18</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-sinh-vien-ke-khai-tai-khoan-de-nhan-tien.html" class="title-notifi news_hot title-notifi-21">THÔNG BÁO VỀ VIỆC SINH VIÊN KÊ KHAI TÀI KHOẢN ĐỂ NHẬN TIỀN</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-sinh-vien-ke-khai-tai-khoan-de-nhan-tien.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 05</p>
                            <p class="days m-0">05</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/huong-dan-dang-ky-cac-mo-dun-ky-nang-mem-video.html" class="title-notifi news_hot title-notifi-21">Hướng dẫn đăng ký các mô đun kỹ năng mềm (Video)</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/huong-dan-dang-ky-cac-mo-dun-ky-nang-mem-video.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 04</p>
                            <p class="days m-0">16</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-nhac-nho-sinh-vien-hoan-thanh-hoc-phi-dung-tien-do-quy-dinh-hoc-ki-2-nam-hoc-2020-2021.html" class="title-notifi news_hot title-notifi-21">Thông báo về việc nhắc nhở sinh viên hoàn thành học phí đúng tiến độ quy định Học kì 2 năm học 2020-2021</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-nhac-nho-sinh-vien-hoan-thanh-hoc-phi-dung-tien-do-quy-dinh-hoc-ki-2-nam-hoc-2020-2021.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 04</p>
                            <p class="days m-0">05</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-kiem-tra-va-phan-hoi-cac-mon-hoc-mien-giam-hoc-phan-cua-sinh-vien-dai-hoc-lien-thong-khoa-10.html" class="title-notifi  title-notifi-21">Thông báo về việc kiểm tra và phản hồi các môn học miễn giảm học phần của sinh viên đại học liên thông khóa 10</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-kiem-tra-va-phan-hoi-cac-mon-hoc-mien-giam-hoc-phan-cua-sinh-vien-dai-hoc-lien-thong-khoa-10.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 03</p>
                            <p class="days m-0">24</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-chuyen-tien-tro-cap-ban-can-su-lop-hki-nam-hoc-2020-2021.html" class="title-notifi news_hot title-notifi-21">THÔNG BÁO VỀ VIỆC CHUYỂN TIỀN TRỢ CẤP BAN CÁN SỰ LỚP HKI NĂM HỌC 2020-2021</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-chuyen-tien-tro-cap-ban-can-su-lop-hki-nam-hoc-2020-2021.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 03</p>
                            <p class="days m-0">22</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-phat-giay-chung-nhan-tot-nghiep-tam-thoi-va-bang-diem-toan-khoa-dot-1-nam-2021.html" class="title-notifi news_hot title-notifi-21">Thông báo về việc phát Giấy chứng nhận tốt nghiệp tạm thời và Bảng điểm toàn khóa đợt 1 năm 2021</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-phat-giay-chung-nhan-tot-nghiep-tam-thoi-va-bang-diem-toan-khoa-dot-1-nam-2021.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 03</p>
                            <p class="days m-0">15</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-khao-sat-nhu-cau-tham-gia-cac-hoat-dong-cong-tac-xa-hoi-va-phuc-vu-cong-dong-cho-sinh-vien-cac-lop-dang-theo-hoc-tai-truong-hoc-ky-2.html" class="title-notifi news_hot title-notifi-21">Thông báo về việc khảo sát nhu cầu tham gia các hoạt động công tác xã hội và phục vụ cộng đồng cho sinh viên các lớp đang theo học tại Trường, học kỳ 2 năm học 2020-2021</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-khao-sat-nhu-cau-tham-gia-cac-hoat-dong-cong-tac-xa-hoi-va-phuc-vu-cong-dong-cho-sinh-vien-cac-lop-dang-theo-hoc-tai-truong-hoc-ky-2.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 02</p>
                            <p class="days m-0">22</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-ke-hoach-xet-tot-nghiep-dot-1-nam-2021.html" class="title-notifi news_hot title-notifi-21">Thông báo về kế hoạch xét tốt nghiệp đợt 1 năm 2021</a>
                        <p class="desc">Thông báo số 33/TB-DCT ngày 14 tháng 01 năm 2021 Về kế hoạch xét tốt nghiệp đợt 1 năm 2021.</p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-ke-hoach-xet-tot-nghiep-dot-1-nam-2021.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 01</p>
                            <p class="days m-0">06</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-huy-cac-lop-hoc-phan-khong-du-si-so-mo-lop-hoc-ky-2--nam-hoc-20202021.html" class="title-notifi  title-notifi-21">Thông báo về việc hủy các lớp học phần không đủ sĩ số mở lớp học kỳ 2 - năm học 2020-2021</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-huy-cac-lop-hoc-phan-khong-du-si-so-mo-lop-hoc-ky-2--nam-hoc-20202021.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">25</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-ve-viec-xep-lop-mon-anh-van-nam-hoc-20202021-khoa-11dhcq.html" class="title-notifi  title-notifi-21">Thông báo về việc xếp lớp môn Anh văn năm học 2020-2021 (khóa 11DHCQ)</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-ve-viec-xep-lop-mon-anh-van-nam-hoc-20202021-khoa-11dhcq.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <a style="float: right; color: red; font-weight: bold; padding: 5px 30px !important; font-size: 18px;" href="/sinh-vien/dm-tin-tuc/dai-hoc-cao-dang.html">XEM THÊM</a>
        </div>
        <div class="tab-pane fade" id="tabs_64c87" role="tabpanel" aria-labelledby="home-tab">
            <div class="content-notifi">
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 02</p>
                            <p class="days m-0">24</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/tuyen-sinh-trinh-do-thac-si-dot-1-nam-2020.html" class="title-notifi  title-notifi-21">Tuyển sinh trình độ thạc sĩ đợt 1 năm 2020</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/tuyen-sinh-trinh-do-thac-si-dot-1-nam-2020.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <a style="float: right; color: red; font-weight: bold; padding: 5px 30px !important; font-size: 18px;" href="/sinh-vien/dm-tin-tuc/sau-dai-hoc.html">XEM THÊM</a>
        </div>
        <div class="tab-pane fade  active show" id="tabs_bd89c" role="tabpanel" aria-labelledby="home-tab">
            <div class="content-notifi">
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 12</p>
                            <p class="days m-0">15</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-to-chuc-ky-thi-chung-chi-ung-dung-cntt-co-ban-dot-ngay-27-12-2022.html" class="title-notifi news_hot title-notifi-21">Thông báo tổ chức kỳ thi Chứng chỉ ứng dụng CNTT cơ bản đợt ngày 27/12/2022</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-to-chuc-ky-thi-chung-chi-ung-dung-cntt-co-ban-dot-ngay-27-12-2022.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 09</p>
                            <p class="days m-0">30</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-theo-chuan-dau-ra-tin-hoc-hufi-khai-giang-du-kien-11-10-2.html" class="title-notifi news_hot title-notifi-21">Thông báo chiêu sinh các lớp ôn thi TRỰC TUYẾN "Chứng chỉ ứng dụng công nghệ thông tin cơ bản" theo chuẩn đầu ra tin học HUFI khai giảng dự kiến 11/10/2022</a>
                        <p class="desc">Cập nhật kiến thức và các kỹ năng ứng dụng CNTT (Word – Excel – Powerpoint – Internet Căn Bản). Ôn tập kiến thức nhanh, đúng trọng tâm để tự tin hoàn thành tốt bài thi lấy chứng chỉ Ứng dụng CNTT cơ bản. </p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-theo-chuan-dau-ra-tin-hoc-hufi-khai-giang-du-kien-11-10-2.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 09</p>
                            <p class="days m-0">30</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-khoa-hoc-thiet-ke-ban-ve-ky-thuat-voi-autocad-2d-khai-giang-03-10-2022.html" class="title-notifi news_hot title-notifi-21">Thông báo chiêu sinh khóa học thiết kế bản vẽ kỹ thuật với autocad 2D khai giảng 03/10/2022</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-khoa-hoc-thiet-ke-ban-ve-ky-thuat-voi-autocad-2d-khai-giang-03-10-2022.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 09</p>
                            <p class="days m-0">08</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-theo-chuan-dau-ra-tin-hoc-hufi-khai-giang-du-kien-20-09-2.html" class="title-notifi news_hot title-notifi-21">Thông báo chiêu sinh các lớp ôn thi TRỰC TUYẾN "Chứng chỉ ứng dụng công nghệ thông tin cơ bản" theo chuẩn đầu ra tin học HUFI khai giảng dự kiến 20/09/2022</a>
                        <p class="desc">Cập nhật kiến thức và các kỹ năng ứng dụng CNTT (Word – Excel – Powerpoint – Internet Căn Bản). Ôn tập kiến thức nhanh, đúng trọng tâm để tự tin hoàn thành tốt bài thi lấy chứng chỉ Ứng dụng CNTT cơ bản. </p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-theo-chuan-dau-ra-tin-hoc-hufi-khai-giang-du-kien-20-09-2.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 07</p>
                            <p class="days m-0">04</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-theo-chuan-dau-ra-tin-hoc-hufi-khai-giang-du-kien-19-07-2.html" class="title-notifi news_hot title-notifi-21">Thông báo chiêu sinh các lớp ôn thi TRỰC TUYẾN "Chứng chỉ ứng dụng công nghệ thông tin cơ bản" theo chuẩn đầu ra tin học HUFI khai giảng dự kiến 19/07/2022</a>
                        <p class="desc">Cập nhật kiến thức và các kỹ năng ứng dụng CNTT (Word – Excel – Powerpoint – Internet Căn Bản). Ôn tập kiến thức nhanh, đúng trọng tâm để tự tin hoàn thành tốt bài thi lấy chứng chỉ Ứng dụng CNTT cơ bản. </p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-theo-chuan-dau-ra-tin-hoc-hufi-khai-giang-du-kien-19-07-2.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 06</p>
                            <p class="days m-0">14</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-khoa-hoc-thiet-ke-ban-ve-ky-thuat-voi-autocad-2d.html" class="title-notifi news_hot title-notifi-21">Thông báo chiêu sinh khóa học thiết kế bản vẽ kỹ thuật với autocad 2D khai giảng 29/06/2022</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-khoa-hoc-thiet-ke-ban-ve-ky-thuat-voi-autocad-2d.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 05</p>
                            <p class="days m-0">10</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-theo-chuan-dau-ra-tin-hoc-hufi-khai-giang-du-kien-31-05-2.html" class="title-notifi  title-notifi-21">Thông báo chiêu sinh các lớp ôn thi TRỰC TUYẾN "Chứng chỉ ứng dụng công nghệ thông tin cơ bản" theo chuẩn đầu ra tin học HUFI khai giảng dự kiến 31/05/2022</a>
                        <p class="desc">Cập nhật kiến thức và các kỹ năng ứng dụng CNTT (Word – Excel – Powerpoint – Internet Căn Bản). Ôn tập kiến thức nhanh, đúng trọng tâm để tự tin hoàn thành tốt bài thi lấy chứng chỉ Ứng dụng CNTT cơ bản. </p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-theo-chuan-dau-ra-tin-hoc-hufi-khai-giang-du-kien-31-05-2.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 09</p>
                            <p class="days m-0">18</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-khai-giang-du-kien-04-10-2021.html" class="title-notifi  title-notifi-21">Thông báo chiêu sinh các lớp ôn thi TRỰC TUYẾN "Chứng chỉ ứng dụng công nghệ thông tin cơ bản" khai giảng dự kiến 04/10/2021</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-khai-giang-du-kien-04-10-2021.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 05</p>
                            <p class="days m-0">25</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-khai-giang-du-kien-01-06-2021.html" class="title-notifi news_new title-notifi-21">Thông báo chiêu sinh các lớp ôn thi TRỰC TUYẾN "Chứng chỉ ứng dụng công nghệ thông tin cơ bản" khai giảng dự kiến 01/06/2021</a>
                        <p class="desc"></p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/thong-bao-chieu-sinh-cac-lop-on-thi-truc-tuyen-chung-chi-ung-dung-cong-nghe-thong-tin-co-ban-khai-giang-du-kien-01-06-2021.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="item-notifi clearfix">
                    <div class="box-left">
                        <div class="date-notifi">
                            <p class="month m-0">Tháng 04</p>
                            <p class="days m-0">07</p>
                        </div>
                    </div>
                    <div class="desc-notifi ">
                        <a href="/sinh-vien/tin-tuc/chieu-sinh-lop-ung-dung-sinh-hoc-phan-tu-trong-chuan-doan-khoa-05.html" class="title-notifi news_hot title-notifi-21">Chiêu sinh Lớp Ứng dụng sinh học phân tử trong chuẩn đoán - Khóa 05</a>
                        <p class="desc">Chiêu sinh Lớp Ứng dụng sinh học phân tử trong chuẩn đoán - Khóa 05</p>
                        <div class="view-more">
                            <a class="view" href="/sinh-vien/tin-tuc/chieu-sinh-lop-ung-dung-sinh-hoc-phan-tu-trong-chuan-doan-khoa-05.html">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <a style="float: right; color: red; font-weight: bold; padding: 5px 30px !important; font-size: 18px;" href="/sinh-vien/dm-tin-tuc/ngan-han.html">XEM THÊM</a>
        </div>
    </div>
</div>