<nav class="bottom-navbar">
	<div class="container">
		<ul class="nav page-navigation">
			<li class="nav-item">
				<a class="nav-link" asp-action="Index" asp-controller="StudentThesis">
					<i class="mdi mdi-chart-timeline menu-icon"></i>
					<span class="menu-title">Tổng quan</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-action="GetList" asp-controller="StudentThesis">
					<i class="mdi mdi-cube-outline menu-icon"></i>
					<span class="menu-title">Đăng ký khóa luận</span>
					<i class="menu-arrow"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-action="GetList" asp-controller="StudentThesis">
					<i class="mdi mdi-file-check menu-icon"></i>
					<span class="menu-title">Khóa luận của tôi</span>
					<i class="menu-arrow"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-action="Index" asp-controller="StudentThesis">
					<i class="mdi mdi-finance menu-icon"></i>
					<span class="menu-title">Xem kết quả khóa luận</span>
					<i class="menu-arrow"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-action="Index" asp-controller="StudentThesis">
					<i class="mdi mdi-file-document-box-outline menu-icon"></i>
					<span class="menu-title">Hướng dẫn sử dụng</span>
				</a>
			</li>
		</ul>
	</div>
</nav>