@model GraduateThesis.Repository.DTO.StudentInput

@{
    ViewData["Title"] = "Create";
}

    <div class="container bootstrap snippets bootdey">
        <div class="row ng-scope">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Contact"></div>
                        <h3 class="m0 text-bold">Audrey Hunt</h3>
                        <div class="mv-lg">
                            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
                        </div>
                        <div class="text-center"><a class="btn btn-primary" href="">Send message</a></div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="h4 text-center">THÊM THÔNG TIN SINH VIÊN</div>
                        <div class="row pv-lg">
                            <div class="col-lg-2"></div>
                            <div class="row">
                                <div class="col">
                                    @if (TempData["statusCode"] != null)
                                    {
                                        string statusCode = TempData["statusCode"].ToString();
                                        string selectedCss;
                                        if (statusCode == "Failed")
                                        {
                                            selectedCss = "alert-danger";
                                        }
                                        else if (statusCode == "Warning")
                                        {
                                            selectedCss = "alert-warning";
                                        }
                                        else
                                        {
                                            selectedCss = "alert-success";
                                        }

                                        <div class="alert @selectedCss alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h5><i class="icon fas fa-check"></i> @statusCode</h5>
                                            @TempData["status"].ToString()
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <form class="form-horizontal ng-pristine ng-valid" asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="Id"></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" asp-for="Id" type="text" placeholder="">
                                        </div>
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" asp-for="Name"></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" asp-for="Name" type="text" placeholder="">
                                        </div>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="Email"></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" asp-for="Email" type="email" placeholder="">
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" asp-for="Phone"></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" asp-for="Phone" type="tel" placeholder="">
                                        </div>
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="Address"></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" asp-for="Address" type="text" placeholder="">
                                        </div>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="Notes"></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" asp-for="Notes" type="text" placeholder="">
                                        </div>
                                        <span asp-validation-for="Notes" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                    @Html.LabelFor(model => model.StudentClassId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @*@Html.DropDownListFor(model => model.StudentClassId, (SelectList)ViewBag.StudentClassList, htmlAttributes: new { @class = "form-control" })*@
                                    @Html.ValidationMessageFor(model => model.StudentClassId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Favorite contact?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-info" value="Create" type="submit">Save</button>
                                </div>
                            </div>
                            </form>
                            <div class="text-right"><a class="text-muted" href="#">Delete this contact?</a></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
