<div class="bg-form authfy-login" style="height: 630px">
    <div class="form-wrap h-100 w-100">
        <div class="authfy-panel panel-login active">
            <div class="form-login">
                <h4 lang="loginnews-pagetitle">ĐĂNG NHẬP HỆ THỐNG</h4>
                <div class="group">
                    <a asp-action="SignIn" asp-controller="StudentAccount" asp-area="Student" class="btn button">Đăng nhập dành cho sinh viên</a>
                    <a asp-action="SignIn" asp-controller="FacultyStaffAccount" asp-area="Lecture" class="btn button">Đăng nhập dành cho giảng viên</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>