@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đã có lỗi xảy ra</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">OOPS!</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Đã có lỗi xảy ra!</p>
            <p class="lead">
                Vui lòng chờ trong giây lát, sau đó hãy thực hiện lại!.
            </p>
            <a href="#" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</body>

</html>