<section id="input-file-browser">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">File Input</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">
                                    Default file input
                                    example
                                </label>
                                <input class="form-control" type="file" id="formFile">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>